**.dirstamp
**.ko
**.ko.cmd
**.lo
**.m4
**.mod
**.mod.c
**.mod.cmd
**.o
**.o.cmd
**.order
**.order.cmd
**.swp
**.symvers.cmd
**/.tmp_*.gcno
**/Module.symvers
**~
.deps
.libs
ChangeLog
Doxyfile
Kbuild
Makefile
Makefile.in
autoconf
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
ethercat.spec
examples/dc_user/ec_dc_user_example
examples/user/ec_user_example
lib/libethercat.la
libtool
master/*.o.d
script/ethercat.service
script/ethercatctl
script/init.d/ethercat
stamp-h1
tool/ethercat
