*~
autoconf
autom4te.cache/
ChangeLog
config.h
config.h.in
config.log
config.status
configure
.deps
Doxyfile
ethercat.spec
examples/dc_user/ec_dc_user_example
examples/user/ec_user_example
Kbuild
lib/libethercat.la
.libs
libtool
*.lo
*.m4
mailbox_gateway/ethercat_mbg
Makefile
Makefile.in
master/.dirstamp
*.o
script/ethercatctl
script/ethercat.service
script/init.d/ethercat
stamp-h1
tool/ethercat
