Source: etherlabmaster
Section: misc
Priority: optional
Maintainer: Jakub Fišer <jakub.fiser@eryaf.com>
Build-Depends: debhelper (>= 12),
               debhelper-compat (=12),
               dkms,
               gettext,
               autoconf,
               automake,
               libtool,
               quilt,
               pkg-config,
               systemd
Standards-Version: 4.5.1
Homepage: https://tormach.com


Package: libethercat1
Replaces: libethercat
Conflicts: libethercat
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}
Description: IgH EtherCAT master for Tormach PathPilot shared libraries
 This package contains the shared libraries needed for EtherLab EtherCAT master
 software, Tormach PathPilot edition,

Package: etherlabmaster-dkms
Replaces: ethercat, etherlabmaster
Conflicts: ethercat, etherlabmaster
Provides: ethercat, etherlabmaster
Architecture: any
Depends: ${shlibs:Depends}, dkms, procps, ifupdown
Recommends:  linux-headers-rt-amd64
Description: IgH EtherCAT master for Tormach PathPilot kernel modules
 EtherLab EtherCAT master kernel modules for Linux, Tormach PathPilot edition.
 Distributed as compilable source files with DKMS framework

Package: etherlabmaster-tools
Architecture: any
Depends: ${shlibs:Depends}, libethercat1
Description: IgH EtherCAT master for Tormach PathPilot utilities and supporting executables
 This package contains helper executables and tools for EtherLab EtherCAT master,
 Tormach PathPilot edition.

Package: libethercat1-dev
Replaces: ethercat-dev, etherlabmaster-dev,libethercat-dev
Conflicts: ethercat-dev, etherlabmaster-dev, libethercat-dev
Provides: ethercat-dev, etherlabmaster-dev
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, libethercat1
Description: IgH EtherCAT master for Tormach PathPilot development files and static libraries
 This package contains the development files (headers, shared libraries and configuration
 files) 
