#!/usr/bin/make -f

VERSION ?= $(shell dpkg-parsechangelog --show-field Version | sed 's/.*://')

include /usr/share/dpkg/architecture.mk

ifeq ($(DEB_HOST_ARCH_OS),linux)
# Don't actually configure the kernel build:  headers may not be
# installed at package build time, and the `dkms` module takes care of
# building modules at package installation time.
CONFFLAGS += --disable-kernel
# Do, however, enable the `generic` module build:  this generates the
# correct `Kbuild` file so that the module will be build by `dkms`.
CONFFLAGS += --enable-generic
# The `eoe` module was disabled in @sittner's original packaging
CONFFLAGS += --disable-eoe
# Other options not related to enabling kmods
CONFFLAGS += --enable-hrtimer --enable-rtmutex --enable-sii-assign
endif

default:
	echo "$(VERSION)"

%:
	dh $@ --with autoreconf,dkms

override_dh_autoreconf:
	touch ChangeLog
	dh_autoreconf

override_dh_clean:
	rm -f ChangeLog
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- \
		$(CONFFLAGS)

override_dh_missing:
	dh_missing --fail-missing

override_dh_installsystemd:
	mv debian/tmpsystemd/ethercat.service debian/etherlabmaster-dkms.ethercat.service
	dh_installsystemd --name=ethercat

override_dh_install:
#	Clean up and check for omissions
	rm -f	debian/tmp/etc/ethercat.conf \
		debian/tmp/etc/init.d/ethercat

	dh_install --

	dh_install -petherlabmaster-dkms config.h globals.h Kbuild usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster-dkms -X.o -X.ko -XMakefile -X.in -X.am \
	    examples/ include/ master/ tty/ devices/ usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster-dkms debian/dkms/* usr/src/etherlabmaster-$(VERSION)

override_dh_dkms:
	dh_dkms -V $(VERSION)
